<!DOCTYPE html>
<html lang="en">
<head>
  <title>Caja</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body{
      background-color: #f7f3eace;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      border-width: 2px; 
      border-color: black;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 657px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/caja">Caja</a></li>
        <li><a href="#section2">Inventario</a></li>
        <li><a href="#section3">Estadisticas</a></li>
        <li><a href="#section4">Menu</a></li>
        <li><a href="#section5">Recetas</a></li>
        <li><a href="#section6">Mesas</a></li>
      </ul>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well" style="border-width: 2px; border-color: black;">
        <h1 class="text-center">Total ganado hoy: $<%= venta_total_dia.total %></h1>
      </div>
      <div class="row">
        <div class="col-sm-6 ">
          <div class="well text-center " style="border-width: 2px; border-color: black;">
            <h3 >Mesas Disponibles</h3>
            <a class="btn btn-save"><h3>3</h3></a> 
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well text-center" style="border-width: 2px; border-color: black;">
            <h3>Mesas Ocupadas</h3>
            <a class="btn btn-save"><h3>1</h3></a> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well" style="border-width: 2px;  border-color: black;">
            <!-- Trigger the modal with a button -->
            <div class="text-center">
              <button type="button" class="btn btn-save" data-toggle="modal" data-target="#myModal">
                <h3>Pago Online</h4>
              </button>
              <h3><%= cantidadOnline %></h3>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ordenes de pago online</h3>
                  </div>
                  <div class="modal-body">
                    <!--Tabla de ordenes-->
                    <table class="table">
                      <thead>
                          <tr>
                              <th>NºBoleta</th>
                              <th>Mesa</th>
                              <th>Monto</th>
                              <!-- <th>Fecha</th> -->
                              <th>Estado</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                        <% for  (i in online) { %>
                          <tr>
                              <td> <%= online[i].codTransacciones %> </td>
                              <td> <%= id_mesa %></td>
                              <td> <%= online[i].monto %> </td>
                              <!-- <td></td> -->
                              <td> <%= online[i].estado %> </td>
                              <td>
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info verDetalle" data-id="<%= online[i].codTransacciones %>" data-toggle="modal" data-target="#<%= online[i].id %>">
                                  Ver Detalle
                                </button>
                                <!-- Modal -->
                                <div id="<%= online[i].id %>" class="modal fade" role="dialog">
                                  <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Resumen</h3>
                                      </div>
                                      <div class="modal-body">
                                        <!--Tabla de detalle de pago online-->
                                        <table class="table" id="detallePago">
                                          <thead>
                                              <tr>
                                                  <th>Imagen</th>
                                                  <th>Nombre</th>
                                                  <th>Precio</th>
                                                  <th>Cantidad</th>
                                                  <th>Total</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                            <% for  (x in detalle) { %>
                                            <% if(detalle[x].id == online[i].codTransacciones) { %>    
                                            <tr>
                                                  <td><img src="../resource/imagenes/<%= detalle[x].nombre %>.png" alt="" width="20px"> </td>
                                                  <td><%= detalle[x].nombre %></td>
                                                  <td>$<%= detalle[x].precio %></td>
                                                  <td><%= detalle[x].cantidad %></td>
                                                  <td>$<%= detalle[x].precio * detalle[x].cantidad %></td>
                                                  <td></td>
                                            </tr> 
                                            <% }} %>
                                          </tbody>
                                      </table>
                                      <% } %>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                  <br><br><br>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well" style="border-width: 2px; border-color: black;">
            <!-- Trigger the modal with a button -->
            <div class="text-center">
              <button type="button" class="btn btn-save" data-toggle="modal" data-target="#efectivo">
                <h3>Pago En Efectivo</h4>
              </button>
              <h3><%= cantidadEfectivo %></h3>
            </div>
            <!-- Modal -->
            <div id="efectivo" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Ordenes de pago en efectivo</h3>
                  </div>
                  <div class="modal-body">
                    <!--Tabla de ordenes-->
                    <table class="table h4">
                      <thead>
                          <tr>
                              <th>NºBoleta</th>
                              <th>Mesa</th>
                              <th>Monto</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                        <% for  (i in efectivo) { %>
                          <tr>
                              <td id="boleta"> <%= efectivo[i].codTransacciones %> </td>
                              <td class=""><%= efectivo[i].id_mesa %></td>
                              <td><%= efectivo[i].monto %></td>
                              <td>
                                 <!-- Trigger the modal with a button -->
                                 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#pagar">
                                  <h4>Pagar</h4>
                                  </button>
                                <!-- Modal -->
                                <div id="pagar" class="modal fade" role="dialog">
                                  <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Resumen</h3>
                                      </div>
                                      <div class="modal-body">
                                        <!--Tabla de pago-->
                                        <table class="table h4" BORDER>
                                          <tr><th>Monto a pagar</th>
                                            <td><input id="monto" type="number" disabled value="<%= efectivo[i].monto %>"></td>
                                          <tr><th>Descuentos</th>
                                            <td><input id="descuento" type="number"></td>
                                          <tr><th>Total a pagar</th>
                                            <td><input type="number" id="total" disabled></td>
                                          <tr><th>Efectivo</th>
                                            <td><input id="efectivos" type="number"></td>
                                          <tr><th>Vuelto</th>
                                            <td><input type="number" id="vuelto" disabled></td>
                                          </table>
                                          <a class="btn btn-success" id="pagarEfectivo">Pagar</a>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                 <!-- Trigger the modal with a button -->
                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Actualizar"><h4>Actualizar</h4></button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="Actualizar" role="dialog">
                                    <div class="modal-dialog">
                                    
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title text-center">¿Segur@ que desea actualizar el tipo de transaccion a "Online"</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                          <form action="http://localhost:5000/caja/actualizar" method="POST">
                                            <input type="hidden" name="actualizar" value="<%= efectivo[i].codTransacciones %>">
                                            <button class="btn btn-warning"><h4>Actualizar</h4></button>
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Volver</h4></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              <!--Fin Modal Eliminar-->
                              </td>
                          </tr>
          
                      </tbody>
                  </table> <% } %>
                  <br><br><br><br><br><br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Close</h4></button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
    const monto = document.getElementById('monto').value;
    const descuento = document.getElementById("descuento");
    const total = document.getElementById("total");
    const efectivo = document.getElementById("efectivos");  
    const vuelto = document.getElementById("vuelto");
    const pagar = document.getElementById("pagarEfectivo");
    const boleta = document.getElementById("boleta").innerText;

    console.log(boleta);
    console.log(monto)
    total.value = monto;
    vuelto.innerHTML = monto;
    efectivo.value = 0;
  
    
    descuento.addEventListener('keyup', ()=> {
      total.value = monto - descuento.value;
    });

    efectivo.addEventListener('keyup', () => {
      vuelto.value = efectivo.value - total.value;
      console.log(efectivo.value)
    });
    pagar.addEventListener('click', (e) =>{
      e.preventDefault;
      pagar.href = `/caja/${boleta}/${efectivo.value}/${total.value}`;
    });
    
</script>
</html>

