<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body{
      background-color: #f7f3eace;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 110%;
      border-width: 3px; 
      border-color: black;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 657px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h2>Categorias</h2>
      <ul class="nav nav-pills nav-stacked h4">
        <li><a href="/caja">Volver</a></li>
        <li><a href="/inventario/1">Lacteos y huevos</a></li>
        <li><a href="/inventario/2">Frutas y verduras</a></li>
        <li><a href="/inventario/3">Aguas y bebidas</a></li>
        <li><a href="/inventario/4">Licores</a></li>
        <li><a href="/inventario/5">Congelados</a></li>
        <li><a href="/inventario/6">Panaderia y pasteleria</a></li>
        <li><a href="/inventario/7">Limpieza</a></li>
        <li><a href="/inventario/8">Carnes y embutidos</a></li>
        <li><a href="/inventario/9">Arroz y pastas</a></li>
        <li><a href="/inventario/10">Cafe y chocolates</a></li>
        <li><a href="/inventario/11">Helados y galletas</a></li>
        <li><a href="/inventario/12">Salsas y condimentos</a></li>
        <li><a href="/inventario/13">Aceites</a></li>
      </ul>
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well" >
        <h2>Buscar</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Search.."><br>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Agregar"><h4>Agregar</h4></button>
                        
        <!-- Modal -->
        <div class="modal fade" id="Agregar" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title h4">Agregar nuevo producto</h4>
              </div>
              <div class="modal-body">
                <form id="form-validate" action="http://localhost:5000/inventario/agregar" method="POST">
                  <div class="mb-5">
                    <label class="form-label h4">Nombre</label>
                    <input class="form-control" type="text" name="nombre" id="nombre">
                  </div>
                  <div class="mb-5">
                    <label class="form-label h4">Precio</label>
                    <input class="form-control" type="number" min="1" max="20000" name="precio" id="precio">
                  </div>
                  <div class="mb-5">
                      <label class="form-label h4">Categoria</label>
                      <select class="form-control" name="categoria" id="categoria">
                      </select>
                  </div>
                  <div class="mb-5">
                    <label class="form-label h4">Unidad de medida de compra</label>
                    <select class="form-control" name="UCompra" id="uCompra">
                    </select>
                </div>
                <div class="mb-5">
                  <label class="form-label h4">Unidad de medida de preparacion</label>
                  <select class="form-control" name="unidadPreparacion" id="unidadPreparacion">
                  </select>
                </div>
                <div class="mb-5">
                  <label class="form-label h4">Tiempo de Vencimiento (Meses)</label>
                  <input class="form-control" type="number" min="1" max="30" name="vencimiento">
                </div><br>
                <button class="btn btn-success"><h4>Agregar</h4></button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Volver</h4></button>
              </div>
            </div>
          </div>
        </div>
        <!--Fin Modal Agregar-->
      </div>
      <div class="row">
        <div class="col-sm-12 ">
          <div class="well h4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <% for (i in productos) { %>  
                    <tr>
                        <td><%= productos[i].id %></td>
                        <td><%= productos[i].nombre %></td>
                        <td><%= productos[i].cantidad_bodega %></td>
                        <td> 
                          <!-- disparador del modal -->
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Editar<%= productos[i].id %>"><h4>Ver</h4></button>
                        
                          <!-- Modal -->
                          <div class="modal fade" id="Editar<%= productos[i].id %>" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Ver y modificar receta</h4>
                                </div>
                                <div class="modal-body">
                                  <!-- Tabla de boton Ver-->
                                  <table class="table" BORDER>
                                    <tr><th>Id</th>
                                      <td>
                                        <%= productos[i].id %>
                                      </td>
                                    <tr><th>Nombre</th>
                                      <td>
                                                                          
                                          <form action="http://localhost:5000/inventario/modificarNombre" id="form-validate" method="POST">
                                              <input type="text" id="comentario"  name="nombre" placeholder="<%= productos[i].nombre %>"> 
                                              <input type="hidden" name="idInventario" value="<%= productos[i].id %>">
                                              <a class="btn btn-info" id="modificar">Modificar</a>                       
                                              <input type="submit" value="Guardar" class="btn btn-primary" id="guardar">
                                          </form>

                                      </td>
                                    <tr><th>Cantidad</th>
                                      <td>
                                        
                                        <form action="http://localhost:5000/inventario/modificarCantidad" id="form-validate" method="POST">
                                          <input type="text" id="cantidad" name="cantidad" placeholder="<%= productos[i].cantidad_bodega %>"> 
                                          <input type="hidden" name="idInventario" value="<%- productos[i].id %>">
                                          <a class="btn btn-info" id="modificar">Modificar</a>                       
                                          <input type="submit" value="Guardar" class="btn btn-primary" id="guardar">
                                        </form>

                                      </td>
                                    <tr><th>Categoria</th>
                                      <td><%= productos[i].categoria %></td>
                                    </table>
                                    <!--Fin Tabla boton Ver -->
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Volver</h4></button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                          <!--Fin Modal Ver-->
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Eliminar<%= productos[i].id %>"><h4>Eliminar</h4></button>

                          <!-- Modal -->
                          <div class="modal fade text-center" id="Eliminar<%= productos[i].id %>" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">多Seguro que desea eliminarlo?</h4>
                                </div>
                                <div class="modal-body">
                                  <form action="http://localhost:5000/inventario/eliminar" method="POST">
                                    <input type="hidden" name="eliminar" value="<%- productos[i].id %>">
                                    <button class="btn btn-danger"><h4>Eliminar</h4></button>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Fin Modal Eliminar-->
                          
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
  const comentario = document.getElementById('comentario');
  const modificar = document.getElementById('modificar');
  const guardar = document.getElementById('guardar');
  comentario.disabled = true;

  /*guardar.addEventListener('click', (e) => {
    e.preventDefault();
    comentario.disabled = true;
  });*/

  modificar.addEventListener('click', () => {
    comentario.disabled = false;
  });
      //A単adiendo las categorias a las opcionas
      let categorias = `<%- categorias %>`;
      document.getElementById("categoria").innerHTML = categorias ;
      
      //A単adiendo los unidades a las opciones
      let unidadCompras = `<%- unidadCompras %>`;
      document.getElementById("uCompra").innerHTML = unidadCompras ;

      //A単adiendo los unidades a las opciones
      let unidadPreparacion = `<%- unidadPreparacion %>`;
      document.getElementById("unidadPreparacion").innerHTML = unidadPreparacion ;


      $(document).ready(function() {
        $("#form-validate").validate({
          rules: {
              nombre : {
                required: true,
                minlength: 3,
              },
              precio: {
                required: true,
                number: true,
                min: 100
              },
              UCompra: {
                required: true
              },
              unidadPreparacion: {
                required: true
              },
              categoria: {
                required: true
              },
              vencimiento: {
                required: true,
                number:true
              },
              cantidad: {
                required: true,
                number:true
              }
            },
            messages : {
              nombre : {
                required: "Porfavor digite un nombre",
                minlength: "Digite un nombre valido",
              },
              precio: {
                required: "Porfavor digite un precio",
                number: "Porfavor digite un precio numerico",
                min: "Porfavor digite un precio valido"
              },
              UCompra: {
                required: "Porfavor digite un unidad de compra"
              },
              unidadPreparacion: {
                required: "Porfavor digite una unidad de preparacion"
              },
              categoria: {
                required: "Porfavor digite una categoria"
              },
              vencimiento: {
                required: "Porfavor digite una fecha de vencimiento",
                number:"Porfavor digite un vencimiento numerico"
              },
              cantidad: {
                required: "Porfavor digite una fecha de vencimiento",
                number:"Porfavor digite un vencimiento numerico"
              }
              }
          });
        });

        $(document).ready(function() {
          $("#form-editar").validate({
            rules: {
                nombre : {
                  required: true,
                  minlength: 3,
                },
                precio: {
                  required: true,
                  number: true,
                  min: 100
                },
                UCompra: {
                  required: true
                },
                unidadPreparacion: {
                  required: true
                },
                categoria: {
                  required: true
                },
                vencimiento: {
                  required: true,
                  number:true
                }
              },
              messages : {
                nombre : {
                  required: "Porfavor digite un nombre",
                  minlength: "Digite un nombre valido",
                },
                precio: {
                  required: "Porfavor digite un precio",
                  number: "Porfavor digite un precio numerico",
                  min: "Porfavor digite un precio valido"
                },
                UCompra: {
                  required: "Porfavor digite un unidad de compra"
                },
                unidadPreparacion: {
                  required: "Porfavor digite una unidad de preparacion"
                },
                categoria: {
                  required: "Porfavor digite una categoria"
                },
                vencimiento: {
                  required: "Porfavor digite una fecha de vencimiento",
                  number:"Porfavor digite un vencimiento numerico"
                }
                }
            });
          });
</script>
</body>
</html>

