<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../resource/css/estilos.css">
</head>
<style>
    body{
        background: url(../resource/imagenes/mesas.jpg) no-repeat;
        background-size: cover;
    }
</style>
<body>
    <div class="login-form">
        <h2>Login Restaurant siglo XXI</h2>
        <form action="autenticacion" method="POST">
            <input type="text" name="email" id="usuario" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" class="btn-login" value="Login">
        </form>
        <a href="register" class="btn-register">Registrate</a>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessagge %>',
                icon:'<%= alertIcon %>',
                showConfirmButton:'<%= showConfirmButton %>',
                timer:'<%= timer %>'
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>