<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recetas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
<br><br>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Agregar"><h4>Agregar</h4></button>
                                          
        <!-- Modal -->
        <div class="modal fade" id="Agregar">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title h4">Agregar un nuevo producto</h4>
                </div>
                <div class="modal-body">
                  <form  action="http://localhost:5000/recetas/agregar" method="POST">
                    <div class="mb-5">
                      <label class="form-label h4">Nombre</label>
                      <input class="form-control" type="text" name="nombre" id="nombre">
                    </div>
                    <div class="mb-5">
                      <label class="form-label h4">Descripcion</label>
                      <textarea class="form-control text"  name="descripcion" id="descripcion" ></textarea>
                    </div>
                    <div class="mb-5">
                      <label class="form-label h4">Dificultad</label>
                      <select class="form-control" name="nivel" id="nivel">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
                    <div class="mb-5">
                      <label class="form-label h4">Precio</label>
                      <input class="form-control" type="number" min="1" max="20000" name="precio" id="precio">
                    </div>
                    <div class="mb-5">
                        <input class="form-control" type="hidden" name="disponible">
                    </div>
                    <div class="mb-5">
                      <label class="form-label h4">Categoria Receta</label>
                      <select class="form-control" name="categorias" id="categorias">
                        <%- categoriaReceta %>
                      </select>
                  </div><br>
                  <button class="btn btn-success"><h4>Guardar</h4></button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Volver</h4></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Fin Modal Agregar-->

        <br><!-- <h1 class="text-center">Recetas</h1> --><br>
          <div class="well">
            <table class="table">
                <thead>
                    <tr class="h4">
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>   
                    <% for (i in recetas) { %>
                    <tr class="h4">
                        <td> <%=  recetas[i].nombre %></td>
                        <td> <%=  recetas[i].descripcion %></td>
                        <td>$<%= recetas[i].precio_receta %></td>
                        <td></td>
                        <td> 
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Editar<%= recetas[i].id %>"><h4>Editar</h4></button>
                                          
                          <!-- Modal Editar -->
                          <div class="modal fade" id="Editar<%= recetas[i].id %>">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title h4">Editar un producto</h4>
                                  </div>
                                  <div class="modal-body">
                                    <form action="http://localhost:5000/recetas/editar" method="POST">
                                      <input class="form-control" type="hidden" value="<%= recetas[i].id %>" name="idReceta" id="idReceta">
                                      <div class="mb-5">
                                        <label class="form-label h4">Nombre</label>
                                        <input class="form-control" type="text" value="<%= recetas[i].nombre %>" name="nombre" id="nombre">
                                      </div>
                                      <div class="mb-5">
                                        <label class="form-label h4">Descripcion</label>
                                        <textarea class="form-control text"  name="descripcion" id="descripcion" ><%= recetas[i].descripcion %></textarea>
                                      </div>
                                      <div class="mb-5">
                                        <label class="form-label h4">Dificultad</label>
                                        <select class="form-control" name="nivel" id="nivel">
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                    </div>
                                      <div class="mb-5">
                                        <label class="form-label h4">Precio</label>
                                        <input class="form-control" type="number" min="1" value="<%= recetas[i].precio_receta %>" max="20000" name="precio" id="precio">
                                      </div>
                                      <div class="mb-5">
                                          <input class="form-control" type="hidden" value="<%= recetas[i].disponible %>" name="disponible">
                                      </div>
                                      <div class="mb-5">
                                        <label class="form-label h4">Categoria Receta</label>
                                        <select class="form-control" name="categoria" id="categoria">
                                          <%- categoriaReceta %>
                                        </select>
                                    </div><br>
                                    <button class="btn btn-warning"><h4>Guardar</h4></button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><h4>Volver</h4></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Fin Modal Editar-->
                          
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Eliminar<%= recetas[i].id %>"><h4>Eliminar</h4></button>
                          <!-- Modal -->
                          <div class="modal fade" id="Eliminar<%= recetas[i].id %>" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title text-center">¿Seguro que desea eliminarlo?</h4>
                                </div>
                                <div class="modal-body text-center">
                                  <form action="http://localhost:5000/receta/eliminar" method="POST">
                                    <input type="hidden" name="eliminar" value="<%= recetas[i].id %>">
                                    <button class="btn btn-danger"><h4>Confirmar</h4></button>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--Fin Modal Eliminar-->
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
          </div>
          <div class="text-center">
            <a class="btn btn-primary" href="/caja" ><h4>Volver</h4></a>
          </div>
        </div>
    </div>
</div>
<!-- <script>
  let categorias = `<%- categoriaReceta %>`;
  document.getElementById("categorias").innerHTML = categorias ;
  let categoria = `<%- categoriaReceta %>`;
  document.getElementById("categoria").innerHTML = categoria ;
</script> -->
</body>
</html>